* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: red; */
    width: 1240px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.j-center {
    justify-content: center;
}

/* padding */
.pt-24 {
    padding-top: 28px;
}

/* Header */
.header {
    display: block;
    width: 100%;
    position: relative;
    background-image: url('./assets/FonFull.png');
    background-position: center;
    background-size: cover;
}

.burger-btn {
    flex-basis: 5%;
}
.text-c{
    text-align: center;
}
.mt-70{
    margin-top: 70px;
}
.mt-100{
    margin-top: 100px;
}
.mt-15{
    margin-top: 15px;
}
.burger-btn>span>i {
    font-size: 25px;
}

.nav {
    flex-basis: 80%;
}

.nav>ul {
    padding: 0 20px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

.header_icon_box {
    flex-basis: 15%;
}

.gap-20 {
    gap: 20px;
}

.nav-item {
    line-height: 1.6;
}

.fa-solid,
.fa-regular {
    font-size: 18px;
    color: #FFFFFF;
}

.nav_link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}
.nav_link i {
    transform: rotate(270deg);
    margin-left: 3px;
}

/* starter */
.starter {
    height: 860px;
}
.item{
    height: 480px;
    width: 300px;
}
.cat{
    background-color: #E0BEA2BF;
    width: auto;
    font-size: 20px;
    padding-bottom: 7px;
}
.section2 h1{
    padding: 20px;
    font-size: 30px;
}
.cat h1{
    height: 50px;
}
.wid100{
    width: 100%;
}
.jumavoy{
    font-size: 22px;
}
.btn{
    width: 100%;
    background-color: #E0BEA2BF;
    text-align: center;
}
.btn a{
    font-size: 25px;
    text-decoration: none;
    background-color: #E0BEA2BF;
}
input{
    font-size: 25px;
}
.section5{
    display: none;
}

@media only screen and (max-width: 1240px) {
    .container {
        width: 1040px;
    }
    .header{
        background-image: url('./assets/FonFull.png');
    }
    .section2 h1{
        /* margin-left: 10px;
        margin-top: 30px; */
        font-size: 40px;
    }
    .content{
        gap: 15px;
        margin-top: 55px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .item{
        height: 400px;
        width: 250px;
    }
    .cat{
        height: 85px;
        width: 250px;
        background-color: #E0BEA2BF;
        text-align: center;
    }
    .cat h1{
        margin-bottom: 20px;
    }
    .jumavoy{
        width: 100%;
        margin-top: 80px;
        text-align: center;
        font-size: 35px;
       }
       .jumavoy:nth-child(){
        margin-top: 50px;
       }
       .jumavoy input{
        font-size: 20px;
        width: 100%;
        height: 70px;
       }
       .btn{
        width: 100%;
        background-color: #E0BEA2BF;
        height: 70px;
        padding: 10px;
       }
       .btn a{
        font-size: 40px;
       }
       .footer{
        width: 100%;
        display: flex;
        /* margin-top: 250px; */
        text-align: center;
       }
       .footer :nth-child(2){
        display: none;
       }
       .last{
        /* margin-left: 20px; */
        width: 250px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
       }
       .section5{
        display: none;
       }

}

@media only screen and (max-width: 1040px) {
    .container {
        width: 840px;
    }

    .header {
        background-image: url("./assets/FonTap.png");
    }

    .fa-solid,
    .fa-regular {
        font-size: 16px;
    }

    .nav_link {
        font-size: 16px;
    }
    .nav_link i {
        transform: rotate(270deg);
        margin-left: 3px;
        font-size: 12px;
    }

    .logo{
        width: 120px;
    }
    .section2 h1{
        /* margin-left: 10px;
        margin-top: 30px; */
        font-size: 40px;
    }
    .content{
        gap: 15px;
        margin-top: 55px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .content :nth-child(3){
        display: none;
    }
    .item{
        height: 400px;
        width: 250px;
    }
    .cat{
        height: 85px;
        width: 250px;
        background-color: #E0BEA2BF;
        text-align: center;
    }
    .cat h1{
        margin-bottom: 20px;
    }
    .jumavoy{
        width: 100%;
        margin-top: 80px;
        text-align: center;
        font-size: 35px;
       }
       .jumavoy:nth-child(){
        margin-top: 50px;
       }
       .jumavoy input{
        font-size: 20px;
        width: 100%;
        height: 70px;
       }
       .btn{
        width: 100%;
        background-color: #E0BEA2BF;
        height: 70px;
        padding: 10px;
       }
       .btn a{
        font-size: 40px;
       }
       .footer{
        width: 100%;
        display: flex;
        /* margin-top: 250px; */
        text-align: center;
       }
       .footer :nth-child(2){
        display: block !important;
       }
       .footer :nth-child(4){
        display: none !important;
       }
       .last{
        /* margin-left: 20px; */
        width: 250px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
       }
       .section5{
        display: block !important;
        width: 100%;
        margin-top: 90px;
        text-align: center;
      }
      .section5 img{
        height: 80px;
        width: 80px;
      }
}

@media only screen and (max-width: 840px) {
    .container {
        width: 720px;
    }
    .nav>ul :nth-child(3){
        display: none !important;
    }
    .header_icon_box{
        display: block;
    }
    .header{
        background-image: url(assets/FonTap.png)
    }
    .section2 h1{
        font-size: 40px;
    }
    .content{
        margin-top: 40px;
        margin-right: 50px;
        gap: 15px;
        width: 100%;
        display: flex;
    }
    .item:nth-child(3){
        display: none !important;
    }
    .item{
        object-fit: cover;
        width: 200px;
        display: flex;
        flex-direction: column;
    }
    .cat{
        width: 200px;
        background-color: #E0BEA2BF;
        text-align: center;
    }
    .jumavoy{
        width: 100%;
        margin-top: 60px;
        height: 50px;
        text-align: center;
        font-size: 25px;
       }
       .jumavoy:nth-child(){
        margin-top: 50px;
       }
       .jumavoy input{
        width: 100%;
        height: 50px;
       }
       .btn{
        padding: 5px;
        width: 100%;
        /* background-color: #E0BEA2BF; */
       }
       .btn a{
        font-size: 30px;
       }
       .footer{
        width: 100%;
        display: flex;
        margin-top: 250px;
        text-align: center;
       }
       /* .last:first-child{
        display: none;
       } */
       .last{
        display:  block !important;
        font-size: 25px;
        color: #E0BEA2BF;
       }
       .line{
        display: block !important;
        width: 100%;
       }
       .section5{
        width: 100%;
        margin-top: 60px;
        text-align: center;
      }
      .section5 img{
        height: 50px;
        width: 50px;
      }

       

}
@media only screen and (max-width: 720px) {
    .container {
        width: 580px;
    }
    .header {
        background-image: url("./assets/FonSingle.png");
        width: 100%;
    }
    .icons:nth-child(1){
        display: none;
    }
    .icons:nth-child(2){
        display:none;
    }
    .nav_list{
        flex-direction: row-reverse;
    }
    /* .nav_link{
        width: 100%;
        display: flex;
    } */
    .act{
        display: block !important;
    }
    .section2 h1{
        font-size: 40px;
        margin-top: 30px;
        margin-left: 8px;
    }
    .content{
        width: 100%;
        display: flex;
        padding-top: 30px;
        gap: 20px;
    }
    .item:nth-child(3){
        display: none;
    }
    .item{
        height: 300px;
        width: 190px;
        object-fit: cover;
       }
       .cat h1{
        padding-bottom: 50px;
       }
       .cat{
        height: 40px;
        width: 190px;
        padding-bottom: 50px;
       }
       .jumavoy{
        width: 100%;
        margin-top: 60px;
        height: 50px;
       }
       .jumavoy:nth-child(){
        margin-top: 70px;
       }
       .jumavoy input{
        width: 100%;
        height: 70px;
       }
       .jumavoy button{
        width: 100%;
        background-color: #E0BEA2BF;
        height: 70px;
        font-size: 35px;
       }
       .section4{
        margin-top: 160px;
       }
       .item{
        background-color: #E0BEA2BF;
       }
       .cat h1{
        margin: 0;
        font-size: 20px;
       }
       .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 20%;
       }
      .last h3{
        display: none;
      }
      .last{
        margin-top: 35px;
        font-size: 25px;
      }
      .last h5{
        text-align: center;
      }
      .line{
        height: 1px;
        width: 240px;
        background-color: black;
      }
      .section5{
        display: block !important;
      }

}

@media only screen and (max-width: 480px) {
    .container {
        width: 320px;
    }
    .header {
        background-image: url("./assets/FonSingle.png");
    }
    .icons:nth-child(1){
        display: none;
    }
    .icons:nth-child(2){
        display: none;
    }
    .nav_list{
        flex-direction: row-reverse;
    }
    .nav_link{
        display: none;
    }
    .act{
        display: block !important;
    }
    .section2 h1{
        font-size: 30px;
        margin-top: 20px;
        margin-left: 8px;
    }
    .content{
        width: 100%;
        display: flex;
        padding-top: 30px;
        gap: 20px;
    }
    .item:nth-child(3){
        display: none;
    }
    .item:nth-child(4){
        display: none;
    }
    .item{
        height: 300px;
        object-fit: cover;
        position: relative;
       }
       .cat{
        background-color: #E0BEA2BF;
       }
       .cat h1{
        margin: 0;
        font-size: 16px;
       }
       .jumavoy{
        width: 100%;
        margin-top: 150px;
        height: 50px;
       }
       /* .jumavoy:nth-child(){
        margin-top: 50px;
       } */
       .jumavoy input{
        width: 100%;
        height: 50px;
       }
       .jumavoy button{
        width: 100%;
        background-color: #E0BEA2BF;
        height: 50px;
        font-size: 30px;
       }
       .section4{
        margin-top: 60px;
    }
    .footer{
        margin-top: 350px;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
       }
       .last h1{
        font-size: 16px;
       }
      .last h3{
        display: none;
      }
      .last{
        /* margin-left: 20%; */
        font-size: 30px;
        color: #E0BEA2BF;
      }
      /* .last h5{
        margin-left: 30%;
      } */
      .line{
        height: 1px;
        width: 100%;
        background-color: black;
      }
      .section5{
        display: block !important; 
        text-align: center;
        width: 100%; 
      }
      .section5 img{
        margin: 10px;
        margin-left: 20px;
        height: 30px;
        width: 30px;
      }
}