* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* background-color: red; */
    width: 1240px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.j-center {
    justify-content: center;
}

/* padding */
.pt-24 {
    padding-top: 28px;
}

/* Header */
.header {
    display: block;
    width: 100%;
    position: relative;
    background-image: url('./assets/FonFull.png');
    background-position: center;
    background-size: cover;
}

.burger-btn {
    flex-basis: 5%;
}

.burger-btn>span>i {
    font-size: 25px;
}

.nav {
    flex-basis: 80%;
}

.nav>ul {
    padding: 0 20px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

.header_icon_box {
    flex-basis: 15%;
}

.gap-20 {
    gap: 20px;
}

.nav-item {
    line-height: 1.6;
}

.fa-solid,
.fa-regular {
    font-size: 18px;
    color: #FFFFFF;
}

.nav_link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}
.nav_link i {
    transform: rotate(270deg);
    margin-left: 3px;
}

/* starter */
.starter {
    height: 860px;
}

@media only screen and (max-width: 1240px) {
    .container {
        width: 1040px;
    }

}

@media only screen and (max-width: 1040px) {
    .container {
        width: 840px;
    }

    .header {
        background-image: url("./assets/FonTap.png");
    }

    .fa-solid,
    .fa-regular {
        font-size: 16px;
    }

    .nav_link {
        font-size: 16px;
    }
    .nav_link i {
        transform: rotate(270deg);
        margin-left: 3px;
        font-size: 12px;
    }

    .logo{
        width: 120px;
    }
}

@media only screen and (max-width: 840px) {
    .container {
        width: 720px;
    }

}
@media only screen and (max-width: 720px) {
    .container {
        width: 580px;
    }

}

@media only screen and (max-width: 480px) {
    .container {
        width: 320px;
    }
    .header {
        background-image: url("./assets/FonSingle.png");
    }
    .icons:nth-child(1){
        display: none;
    }
    .icons:nth-child(2){
        display: none;
    }
    .nav_list{
        flex-direction: row-reverse;
    }
    .nav_link{
        display: none;
    }
    .act{
        display: block !important;
    }
}